.title {
  font-size: 28px;         
  font-weight: bold;          
  margin-bottom: 20px;         
  color: #ffffff;              
  text-transform: uppercase;  
  letter-spacing: 2px;      
  text-align: center;        
  border-bottom: 3px solid #ffffff; 
  padding-bottom: 10px;   

}

/* Styling for the left content */
#leftContent {
  height: 100vh;        
  width: 48vw;          
  position: absolute;   
  left: 0;            
  top: 0;              
  overflow-y: scroll;   
  padding: 20px;        
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3); 

}
#leftContent::-webkit-scrollbar {
  display: none;
}
#mapViewDiv {
  height: 100vh;       
  width: 48vw;          
  position: absolute;    
  right: 0;            
  top: 0;                
  border-left: 2px solid #333; 
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3); 
  
  overflow: hidden;     
}

/* Adjusted box */
.box {
  height: 180px;
  padding: 15px;
  margin: 15px 0;
  background-color: #535353;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  border-radius: 10px;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3);
  border: 2px solid #d9d9d9;
  transition: transform 0.2s, box-shadow 0.2s;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Logo container styling */
.logo-container {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Information container */
.info-container {
  flex: 1;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

/* Name styling */
.name {
  font-size: 22px; 
  font-weight: bold;
  color: #000;
}

/* Rating styling */
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px; 
  color: #f39c12;
}

.star {
  width: 25px;
  height: auto;
}

/* Address and distance */
.adress,
.distance {
  font-size: 16px; 
  color: #ffffff;
}

/* Reservation button styling */
.reservation-button {
  padding: 12px 20px; 
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.reservation-button:hover {
  background-color: #143808;
  transform: scale(1.1); 
}

.logo {
  width: 100%;
  max-width: 120px; 
  height: auto;
}
