<div id="leftContent">
  <div class="title">Trusted Partners</div>
  <div *ngFor="let partner of trustedPartners" class="box">
    <div class="logo-container">
      <img [src]="partner.logo" [alt]="partner.name" class="logo" />
    </div>
    <div class="info-container">
      <div class="name">{{ partner.name }}</div>
      <div class="rating">
        <img src="star.png" alt="star" class="star" />
        {{ partner.rating }}
      </div>
      <div class="address">{{ partner.address }}</div>
      <div class="distance">{{ partner.distance }} km</div>
    </div>
    <div class="button-container">
      <button class="reservation-button">Reserve</button>
    </div>
  </div>
</div>
<div id="mapViewDiv"></div>

<!-- Footer navigation bar -->
<div class="bottom-nav">
  <div class="nav-button">
    <img src="home.png" alt="Home" />
    <span>Home</span>
  </div>
  <div class="nav-button" (click)="goToAppointments()">
    <img src="appointment.png" alt="Appointments" />
    <span>Appointments</span>
  </div>
  <div class="nav-button" (click)="goToProfile()">
    <img src="user.png" alt="Profile" />
    <span>My profile</span>
  </div>
</div>
