

<div id="leftContent">
  <div class="title">Trusted Partners</div>
  <div *ngFor="let partner of trustedPartners; let i = index" class="box" [ngClass]="{'selected': highlightedPartnerIndex === i}" (click)="centerMap(partner)">
    <div class="logo-container">
      <img [src]="partner.logo" [alt]="partner.name" class="logo" />
    </div>
    <div class="info-container">
      <div class="name">{{ partner.name }}</div>
      <div class="rating">
        <img src="star.png" alt="star" class="star" />
        {{ partner.rating }}
      </div>
      <div class="address">{{ partner.address }}</div>
      <div *ngIf="partner.distance" class="distance">{{ partner.distance }} km</div>
    </div>
    <div class="button-container" (click)="goToReserve(partner)">
      <button class="reservation-button">Reserve</button>
    </div>
  </div>
</div>
<div id="mapViewDiv"></div>
<button *ngIf="isLocationAvailable" class="location-button" (click)="goToCurrentLocation()">
  <img src="compass-svgrepo-com.svg" alt="Go to Current Location" class="icon" />
</button>
<!-- Popup Box -->
<div *ngIf="showPopup" class="popup-box">
  <div class="popup-content">
    <p>
      Leave a rating for<br>
      <strong>{{ companyName }}</strong><br>
    </p>
    <div class="rating-container">
      <span 
        *ngFor="let star of stars; let i = index" 
        [ngClass]="{'active': i < hoverIndex || i < currentRating}"
        (mouseenter)="setHoverIndex(i + 1)"
        (mouseleave)="clearHoverIndex()"
        (click)="setRating(i + 1)">
        ★
      </span>
    </div>
    <button (click)="dismissPopup()">Dismiss</button>
  </div>
</div>

<!-- Footer navigation bar -->
<div class="bottom-nav">
  <div class="nav-button">
    <img src="home.png" alt="Home" />
    <span>Home</span>
  </div>
  <div class="nav-button" (click)="goToAppointments()">
    <img src="appointment.png" alt="Appointments" />
    <span>Appointments</span>
  </div>
  <div class="nav-button" (click)="goToProfile()">
    <img src="user.png" alt="Profile" />
    <span>My profile</span>
  </div>
</div>
