<div class="auth-wrapper">
  <img src="pitstopnow.png" alt="Logo" class="auth-logo" />
  <div class="auth-layout">
    <div class="appointment-container">
      <div class="appointment-text">
        <img src="online-booking.png" alt="Calendar" class="calendar-logo" />
        <h3>Book Appointments</h3>
        <p>Book your service hassle-free! Easily schedule appointments for your car’s needs with just a few clicks.</p>
      </div>
      <div class="rate-service-box">
        <img src="reviews.png" alt="Rating" class="rate-logo" />
        <h4>Rate Each Service</h4>
        <p>Your opinion matters! Rate and review services to help others make informed decisions.</p>
      </div>
    </div>
    <div class="auth-container">
      <h2>Login</h2>
      <form (ngSubmit)="onLogin()">
        <div>
          <label for="username">Username</label>
          <input id="username" [(ngModel)]="username" name="username" required />
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" [(ngModel)]="password" name="password" required />
        </div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        <button type="submit">Login</button>
      </form>
      <p class="register-link">
        Don't have an account? <a [routerLink]="'/register'">Register</a>
      </p>
    </div>

    <div class="appointment-container">
      <div class="appointment-text">
        <img src="map.png" alt="map" class="map-logo" />
        <h3>Find services on the map</h3>
        <p>Find services near you! Explore a network of trusted providers on our interactive map.</p>
      </div>
      <div class="rate-service-box">
        <img src="stress-management.png" alt="Stress-Free" class="stress-logo" />
        <h4>Stress-Free Experience</h4>
        <p>Say goodbye to stress! Enjoy seamless and stress-free car care, all in one place.</p>
      </div>
  </div>

</div>
