<div class="profile-container">
    <h1>Profil Utilizator</h1>
  
    <div class="profile-details">
      <p><strong>Username:</strong> numele de utilizator, unic</p>
      <p><strong>Parolă:</strong> parola utilizatorului</p>
      <p><strong>ID Service:</strong> referința către <code>id</code> din tabela <code>Service</code>, cheie străină</p>
      <p><strong>Nume:</strong> numele complet al utilizatorului</p>
      <p><strong>Telefon:</strong> numărul de telefon al utilizatorului, unic</p>
      <p><strong>Email:</strong> adresa de email a utilizatorului, unică</p>
    </div>
  
    <div class="profile-image">
      <h2>Imagine Profil</h2>
      <img *ngIf="profileImage" [src]="profileImage" alt="Imagine Profil" class="profile-img" />
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    </div>
  </div>
  